<%= simple_nested_form_for @race, html: { multipart: true } do |f| %>
  
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :place %>

  <%= f.fields_for :race_details do |details_form| %>
    <h4>Details</h4>
    <hr>
    <%= details_form.input :distance %>
    <%= details_form.input :date %>
    <%= details_form.link_to_remove "Remove this task" %>
  <% end %>

  <%= f.fields_for :attachment do |attachment_form|  %>
    <%= attachment_form.file_field :file %>
  <% end %>

  <p><%= f.link_to_add "Add details", :race_details %></p>

  <%= f.submit 'Save', class: 'btn' %>

<% end %>
