<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-large pull-right' %>

<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h4><%= @user.email %></h4>

<h2>Donations</h2>
<hr>

<table class="table">
  <thead>
    <tr>
      <th>Cause</th>
      <th>Amount</th>
      <th>Race</th>
    </tr>
  </thead>

<% @user.donations.each do |donation| %>
  <tr>
    <td><%= donation.cause.name %></td>
    <td><%= number_to_currency(donation.amount) %></td>
    <td><%= donation.race.name %></td>
  </tr>
<% end %>
</table>


 |
<%= link_to 'Back', users_path %>
