<p id="notice"><%= notice %></p>

<p>
  <b>Cause:</b>
  <%= @donation.cause.name %>
</p>

<p>
  <b>User:</b>
  <%= @donation.user.first_name %>
</p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Race:</b>
  <%= @donation.race.name %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
